*{
    box-sizing: border-box;
}

body{
  margin:0;
  font-size:18px;
  font-family: 'Arapey', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Abril Fatface', cursive;
/*  text-transform: uppercase;*/
  color:#f1c40f;
  margin-top : 20px;
}

a{
  color:#f1c40f;
  text-decoration: none;
}
a:hover{
  color:#f39c12;
  text-decoration: underline;
}

header#header{
  background: #ffffff;
/*  padding-top:10px;*/
  padding-bottom:10px;
}

.logo{
  float:left;
  max-width: 120px;
  height: auto;
  padding-right:20px;
}

.thumbnail{
  max-width:100%;
  height: auto;
}

.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.clearBoth{
    clear: both;
}

.bold{
    font-weight: bold;
    font-size: 22px;
}

.button{
    width: 200px;
    height: 40px;
    background: rgb(160, 228, 147);
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article{
    margin-top: 40px;
}

.pagination{
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}